<a href="#" class="scroll-left scroll-btn"><img src="assets/img/carousel-arrow-left.png"></img></a>
<div class='list-wrapper'>
    <ul class="carousel-inner"></ul>
</div>
<a href="#" class="scroll-right scroll-btn"><img src="assets/img/carousel-arrow-right.png"></img></a>
