<a href="#bio/{{slug}}">
    <img class="carousel-image" src='assets/img/someguy-carousel.jpg'></img>
    <div class="carousel-hover">
        <img src='assets/img/someguy-carousel.jpg'></img>
        <div class="caption">{{ firstname }}</div>
    </div>
</a>
