<li>
    <a href="#bio/danny-bateman">
        <img class="featured-image" src='assets/img/someguy-featured.jpg'></img>
        <img class="featured-hover-image" src='assets/img/danny-featured-hover.jpg'></img>
    </a>
</li>
<li>
    <a href="#bio/danny-bateman">
        <img class="featured-image" src='assets/img/someguy-featured.jpg'></img>
        <img class="featured-hover-image" src='assets/img/danny-featured-hover.jpg'></img>
    </a>
</li>
<li>
    <a href="#bio/danny-bateman">
        <img class="featured-image" src='assets/img/someguy-featured.jpg'></img>
        <img class="featured-hover-image" src='assets/img/danny-featured-hover.jpg'></img>
    </a>
</li>
<li>
    <a href="#bio/danny-bateman">
        <img class="featured-image" src='assets/img/someguy-featured.jpg'></img>
        <img class="featured-hover-image" src='assets/img/danny-featured-hover.jpg'></img>
    </a>
</li>
<li class="middle"></li>
<li>
    <a href="#bio/danny-bateman">
        <img class="featured-image" src='assets/img/someguy-featured.jpg'></img>
        <img class="featured-hover-image" src='assets/img/danny-featured-hover.jpg'></img>
    </a>
</li>
<li>
    <a href="#bio/danny-bateman">
        <img class="featured-image" src='assets/img/someguy-featured.jpg'></img>
        <img class="featured-hover-image" src='assets/img/danny-featured-hover.jpg'></img>
    </a>
</li>
<li>
    <a href="#bio/danny-bateman">
        <img class="featured-image" src='assets/img/someguy-featured.jpg'></img>
        <img class="featured-hover-image" src='assets/img/danny-featured-hover.jpg'></img>
    </a>
</li>
<li>
    <a href="#bio/danny-bateman">
        <img class="featured-image" src='assets/img/someguy-featured.jpg'></img>
        <img class="featured-hover-image" src='assets/img/danny-featured-hover.jpg'></img>
    </a>
</li>
