<div class="inner">
    <a href="#" class="prev-btn nav-btn"><img src="assets/img/carousel-arrow-left.png"></img></a>
    <a href="#" class="next-btn nav-btn"><img src="assets/img/carousel-arrow-right.png"></img></a>
    <a href="#" class="close-modal"><img src="assets/img/carousel-arrow-right.png"></img></a>

    <img src="{{ imageUrl }}"></img>

    <div class="descr">
        {{descr}}
    </div>
</div>
